html {
    font-size: 62.5%; /* 10÷16=62.5% */
}
@media (max-width: 760px) {
    /*超小屏幕设备 手机*/
    html {
        font-size: 94%!important; /* 15.04÷16=94% */
    }
    #windows_btn_wrap{
        display: none;
    }
}

@media (min-width: 760px) and (max-width: 992px) {
    /*小屏幕设备 平板*/
    html {
        font-size: 109%!important; /* 17.44÷16=109% */
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /*中等屏幕设备 桌面*/
    html {
        font-size: 125%!important; /* 20÷16=125% */
    }
}

@media (min-width: 1200px) {
    /*大屏幕设备 桌面*/
    html {
        font-size: 125%!important; /* 20÷16=125% */
    }

}

/*@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important; !* 15.04÷16=94% *!
    }

}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important; !* 17.44÷16=109% *!
    }

}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important; !* 20÷16=125% *!
    }
}*/

body{
    background-color: rgb(24,0,82);
}
header{
    display: block;
    width: 100%;
   /* border: solid 1px red;*/
    left:0;
    top:0;
    position:fixed;

}
#login_btn{
    float: right;
}
#main_body{
    margin:  4rem 2rem;
    position: relative;
    left: 0;
    top:0;

    border: 1px solid red;
}
footer{
    display: block;
   /* border: 1px red solid;*/
    width:100%;
    left:0;
    bottom:0;
    position:fixed;
    background:rgba(0,0,0,0.3);
    overflow: hidden;
}
#start_btn{
    display: block;
    float: left;

}
.myphoto{
    margin: 2px;
    background-color: rgb(0,130,153);
}
.myphoto>div{
    height: 5rem;
    line-height: 5rem;
    width: 100%;
    text-align:center
}
.myphoto span{
    color: white;
}

.myphoto_wrap span{
    font-size: 2rem;
}
.windows_btn{
   width: 5rem;
    float: left;
    margin: 0 2px;
}
/*#windows_btn_wrap{
   !* margin: 0 1rem;*!

    display: inline-block;
    overflow: hidden;
}*/
#windows_inform{
    color: white;
    font-size: 1rem;
    text-align: right;
    padding-right: 2rem;
    float: right;
}
#windows_time{
    font-size: 0.5rem;
    text-align: center;
    display: inline-block ;
}
#windows_time p{
    margin: 0;
    padding: 0;
}
#windows_wrap{
    width: 60%;
    height: 60%;
    z-index: 2000;
    position:fixed;
    left:25%;
    top:20%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    overflow: scroll;
}
#windows_ico span{
    margin: 0 1px;
    float: right;
}