/*html字体大小（rem）*/
html {
    font-size: 62.5%; /* 10÷16=62.5% */
}
/*媒体查询*/
@media (max-width: 760px) {
    /*超小屏幕设备 手机*/
    html {
        font-size: 94%!important; /* 15.04÷16=94% */
    }
    #windows_btn_wrap{
        display: none;
    }
    .windows_ico span{
        margin: 0 3rem;
    }
}

@media (min-width: 760px) and (max-width: 992px) {
    /*小屏幕设备 平板*/
    html {
        font-size: 109%!important; /* 17.44÷16=109% */
    }
    .windows_ico span{
        margin: 0 4rem;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    /*中等屏幕设备 桌面*/
    html {
        font-size: 125%!important; /* 20÷16=125% */
    }
}

@media (min-width: 1200px) {
    /*大屏幕设备 桌面*/
    html {
        font-size: 125%!important; /* 20÷16=125% */
    }

}

/*@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important; !* 15.04÷16=94% *!
    }

}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important; !* 17.44÷16=109% *!
    }

}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important; !* 20÷16=125% *!
    }
}*/
/*全屏*/
body{
    background-color: rgb(24,0,82);/*背景*/

}
header{ /*头部菜单*/
    display: block;
    width: 100%;
   /* border: solid 1px red;*/
    left:0;
    top:0;
    position:fixed;

}
#login_btn{ /*登录按钮*/
    float: right;
}
#main_body{ /*主要显示区域*/
    padding:  4rem ;
    position: absolute;
    left: 0;
    top:0;
 /*   border: 1px red solid;*/
    height: 100%;
    width: 100%;
   /* border: 1px solid red;*/
}
footer{ /*底部 */
    display: block;
   /* border: 1px red solid;*/
    width:100%;
    left:0;
    bottom:0;
    position:fixed;
    background:rgba(0,0,0,0.3);
    overflow: hidden;
}
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}
#start_btn{ /*开始按钮*/
    display: block;
    float: left;

}
.mainIco{ /*主页面图标*/
    margin: 2px;
    background-color: rgb(0,130,153);
}
.mainIco>div{
    height: 5rem;
    line-height: 5rem;
    width: 100%;
    text-align:center
}
.mainIco span{
    color: white;
}

.mainIco_wrap span{
    font-size: 2rem;
}
.windows_btn{ /*底部最小化窗口*/
   width: 5rem;
    float: left;
    margin: 0 2px;
    display: none;
}
/*#windows_btn_wrap{
   !* margin: 0 1rem;*!

    display: inline-block;
    overflow: hidden;
}*/
#windows_inform{ /*底部通知区域*/
    color: white;
    font-size: 1rem;
    text-align: right;
    padding-right: 2rem;
    float: right;
}
#windows_time{ /*底部时间日期区域*/
    font-size: 0.5rem;
    text-align: center;
    display: inline-block ;
}
#windows_time p{
    margin: 0;
    padding: 0;
}
.windows_wrap{ /*弹出窗整体*/
    width: 100%;
    height: 90%;
    z-index: 2000;
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.6);
    color: white;
    overflow: scroll;
    display: none;

}

.windows_ico{ /*弹出窗头部*/
    position:absolute;
    left:0;
    top:0;
    width: 100%;
}
.windows_ico span { /*弹出窗头部图标*/
    margin: 0 0.5rem;
    float: right;
    display: block;
    cursor: pointer
}
.panel-body {
    position:absolute;
    left:0;
    top: 13%;
    width: 100%;
}
.panel-body th{
    background-color: rgba(0,0,0,0.8);
   /*background-color: white;*/
  /*  color: #0f0f0f;*/
}
.crumb{
    display: inline-block;
    padding-left:3rem ;
    background-color: rgb(240,240,240);
}