<layout name="./Layout/layout"/>
<div class="row" id="sortable">
    <div class="col-xs-4 col-sm-5 col-md-3 col-lg-2 mainIco" windowsName="photo" >
        <div class="mainIco_wrap">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </div>
        <span>相册</span>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2  mainIco" windowsName="file" style="background-color: rgb(178,26,65)">
            <div class="mainIco_wrap">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </div>
            <span>文件夹</span>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 mainIco" windowsName="music" style="background-color: rgb(210,71,38)">
        <div class="mainIco_wrap">
            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
        </div>
        <span>音乐</span>
    </div>

    <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2 mainIco" windowsName="ridio" style="background-color: rgb(255,190,0)">
        <div class="mainIco_wrap">
            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
        </div>
        <span>视频</span>
    </div>

    <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2 mainIco" windowsName="config" style="background-color: rgb(81,51,171)">
        <div class="mainIco_wrap">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </div>
        <span>设置</span>
    </div>

    <div class="col-xs-2 col-sm-4 col-md-3 col-lg-2 mainIco" windowsName="upload" style="background-color: rgb(0,138,0)">
        <div class="mainIco_wrap">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </div>
        <span>上传</span>
    </div>

    <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2 mainIco" windowsName="login" style="background-color: rgb(159,0,166)">
        <div class="mainIco_wrap">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </div>
        <span>注册</span>
    </div>
</div>




