<footer>
    <div class="row">
        <!--开始按钮-->
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 ">
            <button type="button" id="start_btn" class="btn btn-default btn-1g">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>开始
            </button>
        </div>
        <!--任务栏窗口-->
        <div   class="col-xs-7 col-sm-8 col-md-9 col-lg-9 ">
            <div id="windows_btn_wrap">
                <button type="button"  class="btn btn-primary btn-1g windows_btn" windowsName="photo" >
                    <span class="glyphicon glyphicon-picture " aria-hidden="true" ></span>相册
                </button>
                <button type="button"  class="btn btn-primary btn-1g windows_btn"windowsName="file">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>文件夹
                </button>
                <button type="button"  class="btn btn-primary btn-1g windows_btn" windowsName="music">
                    <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>音乐
                </button>
                <button type="button"  class="btn btn-primary btn-1g windows_btn" windowsName="ridio">
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>视频
                </button>
                <button type="button"  class="btn btn-primary btn-1g windows_btn" windowsName="config">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>设置
                </button>
                <button type="button"  class="btn btn-primary btn-1g windows_btn"windowsName="upload">
                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>上传
                </button>
                <button type="button"  class="btn btn-primary btn-1g windows_btn" windowsName="login">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>注册
                </button>
             </div>
            </div>
        <!--通知栏-->
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" id="windows_inform">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><!--刷新-->
            <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span><!--音量-->
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><!--消息-->
            <div id="windows_time"><!--通知栏时间日期-->
                <p id="time_h_m">10:10</p>
                   <p id="time_y_m_d">2016/1/11</p>
            </div>


        </div>

</div>

</footer>