<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
</head>
<body>
<include file="./Layout/header" />
<div id="main_body" class="container-fluid">
    {__CONTENT__}
</div>
<include file="./Layout/footer" />
</body>
</html>