<!--弹出窗口-->
<div class="panel panel-default" id="windows_wrap">
<div class="panel-heading" id="windows_ico">
    标题
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
</div>
<div class="panel-body">
    人生的成败往往就在一念之差,失败者并不比成功者逊色,只是他们缺少了斗志.那叫做奋斗.
    　　上帝是公平的,他给予我们每个人奋斗,只是有些人没有彻悟,没有好好利用.奋斗也是一种生命物质,会随着经历挫折而越长越大,越动荡,越勇敢,奋斗在推动我们前进.俗话说,逆境出人才,逆境中奋斗才会爆发,才会不停地在逆境中寻找生的希望.黑暗的深渊中,奋斗是微光；干涸的土地中,奋斗是水滴；严寒的肃冬中,奋斗是热量.
    　　成功从来不是偶然,中国上下五千年没有一个伟人是巧合成功,他们有奋斗的证据,他们的成长足迹中有付出过心血,他们一路走过来的脚印中,没有完完整整的,有膝盖的磕印,有摔倒的血迹,有汗水浸湿的泥沙.他们从哪里摔倒就从哪里爬起来,生命的卑微因奋斗而变得精彩.奋斗会伴随着我们一生,但奋斗中的艰辛并不会持续着,历经艰辛,后面的路会渐渐平坦.
    　　我们奋斗的目标也许不一样,但动力源泉是一样的.有些人奋斗着为了考上好的学校；有些人奋斗着找到好的工作职位；有些人奋斗着为国家做出贡献······有些人一生在奋斗.奋斗,有辛酸的泪水,有误解,有难舍难分之处,但这一切,无法阻挠我们的前进.
    　　奋斗过,才会懂,会坚强,会前进.
    人生的成败往往就在一念之差,失败者并不比成功者逊色,只是他们缺少了斗志.那叫做奋斗.
    　　上帝是公平的,他给予我们每个人奋斗,只是有些人没有彻悟,没有好好利用.奋斗也是一种生命物质,会随着经历挫折而越长越大,越动荡,越勇敢,奋斗在推动我们前进.俗话说,逆境出人才,逆境中奋斗才会爆发,才会不停地在逆境中寻找生的希望.黑暗的深渊中,奋斗是微光；干涸的土地中,奋斗是水滴；严寒的肃冬中,奋斗是热量.
    　　成功从来不是偶然,中国上下五千年没有一个伟人是巧合成功,他们有奋斗的证据,他们的成长足迹中有付出过心血,他们一路走过来的脚印中,没有完完整整的,有膝盖的磕印,有摔倒的血迹,有汗水浸湿的泥沙.他们从哪里摔倒就从哪里爬起来,生命的卑微因奋斗而变得精彩.奋斗会伴随着我们一生,但奋斗中的艰辛并不会持续着,历经艰辛,后面的路会渐渐平坦.
    　　我们奋斗的目标也许不一样,但动力源泉是一样的.有些人奋斗着为了考上好的学校；有些人奋斗着找到好的工作职位；有些人奋斗着为国家做出贡献······有些人一生在奋斗.奋斗,有辛酸的泪水,有误解,有难舍难分之处,但这一切,无法阻挠我们的前进.
    　　奋斗过,才会懂,会坚强,会前进.
    人生的成败往往就在一念之差,失败者并不比成功者逊色,只是他们缺少了斗志.那叫做奋斗.
    　　上帝是公平的,他给予我们每个人奋斗,只是有些人没有彻悟,没有好好利用.奋斗也是一种生命物质,会随着经历挫折而越长越大,越动荡,越勇敢,奋斗在推动我们前进.俗话说,逆境出人才,逆境中奋斗才会爆发,才会不停地在逆境中寻找生的希望.黑暗的深渊中,奋斗是微光；干涸的土地中,奋斗是水滴；严寒的肃冬中,奋斗是热量.
    　　成功从来不是偶然,中国上下五千年没有一个伟人是巧合成功,他们有奋斗的证据,他们的成长足迹中有付出过心血,他们一路走过来的脚印中,没有完完整整的,有膝盖的磕印,有摔倒的血迹,有汗水浸湿的泥沙.他们从哪里摔倒就从哪里爬起来,生命的卑微因奋斗而变得精彩.奋斗会伴随着我们一生,但奋斗中的艰辛并不会持续着,历经艰辛,后面的路会渐渐平坦.
    　　我们奋斗的目标也许不一样,但动力源泉是一样的.有些人奋斗着为了考上好的学校；有些人奋斗着找到好的工作职位；有些人奋斗着为国家做出贡献······有些人一生在奋斗.奋斗,有辛酸的泪水,有误解,有难舍难分之处,但这一切,无法阻挠我们的前进.
    　　奋斗过,才会懂,会坚强,会前进.
    人生的成败往往就在一念之差,失败者并不比成功者逊色,只是他们缺少了斗志.那叫做奋斗.
    　　上帝是公平的,他给予我们每个人奋斗,只是有些人没有彻悟,没有好好利用.奋斗也是一种生命物质,会随着经历挫折而越长越大,越动荡,越勇敢,奋斗在推动我们前进.俗话说,逆境出人才,逆境中奋斗才会爆发,才会不停地在逆境中寻找生的希望.黑暗的深渊中,奋斗是微光；干涸的土地中,奋斗是水滴；严寒的肃冬中,奋斗是热量.
    　　成功从来不是偶然,中国上下五千年没有一个伟人是巧合成功,他们有奋斗的证据,他们的成长足迹中有付出过心血,他们一路走过来的脚印中,没有完完整整的,有膝盖的磕印,有摔倒的血迹,有汗水浸湿的泥沙.他们从哪里摔倒就从哪里爬起来,生命的卑微因奋斗而变得精彩.奋斗会伴随着我们一生,但奋斗中的艰辛并不会持续着,历经艰辛,后面的路会渐渐平坦.
    　　我们奋斗的目标也许不一样,但动力源泉是一样的.有些人奋斗着为了考上好的学校；有些人奋斗着找到好的工作职位；有些人奋斗着为国家做出贡献······有些人一生在奋斗.奋斗,有辛酸的泪水,有误解,有难舍难分之处,但这一切,无法阻挠我们的前进.
    　　奋斗过,才会懂,会坚强,会前进.
    人生的成败往往就在一念之差,失败者并不比成功者逊色,只是他们缺少了斗志.那叫做奋斗.
    　　上帝是公平的,他给予我们每个人奋斗,只是有些人没有彻悟,没有好好利用.奋斗也是一种生命物质,会随着经历挫折而越长越大,越动荡,越勇敢,奋斗在推动我们前进.俗话说,逆境出人才,逆境中奋斗才会爆发,才会不停地在逆境中寻找生的希望.黑暗的深渊中,奋斗是微光；干涸的土地中,奋斗是水滴；严寒的肃冬中,奋斗是热量.
    　　成功从来不是偶然,中国上下五千年没有一个伟人是巧合成功,他们有奋斗的证据,他们的成长足迹中有付出过心血,他们一路走过来的脚印中,没有完完整整的,有膝盖的磕印,有摔倒的血迹,有汗水浸湿的泥沙.他们从哪里摔倒就从哪里爬起来,生命的卑微因奋斗而变得精彩.奋斗会伴随着我们一生,但奋斗中的艰辛并不会持续着,历经艰辛,后面的路会渐渐平坦.
    　　我们奋斗的目标也许不一样,但动力源泉是一样的.有些人奋斗着为了考上好的学校；有些人奋斗着找到好的工作职位；有些人奋斗着为国家做出贡献······有些人一生在奋斗.奋斗,有辛酸的泪水,有误解,有难舍难分之处,但这一切,无法阻挠我们的前进.
    　　奋斗过,才会懂,会坚强,会前进.
    人生的成败往往就在一念之差,失败者并不比成功者逊色,只是他们缺少了斗志.那叫做奋斗.
    　　上帝是公平的,他给予我们每个人奋斗,只是有些人没有彻悟,没有好好利用.奋斗也是一种生命物质,会随着经历挫折而越长越大,越动荡,越勇敢,奋斗在推动我们前进.俗话说,逆境出人才,逆境中奋斗才会爆发,才会不停地在逆境中寻找生的希望.黑暗的深渊中,奋斗是微光；干涸的土地中,奋斗是水滴；严寒的肃冬中,奋斗是热量.
    　　成功从来不是偶然,中国上下五千年没有一个伟人是巧合成功,他们有奋斗的证据,他们的成长足迹中有付出过心血,他们一路走过来的脚印中,没有完完整整的,有膝盖的磕印,有摔倒的血迹,有汗水浸湿的泥沙.他们从哪里摔倒就从哪里爬起来,生命的卑微因奋斗而变得精彩.奋斗会伴随着我们一生,但奋斗中的艰辛并不会持续着,历经艰辛,后面的路会渐渐平坦.
    　　我们奋斗的目标也许不一样,但动力源泉是一样的.有些人奋斗着为了考上好的学校；有些人奋斗着找到好的工作职位；有些人奋斗着为国家做出贡献······有些人一生在奋斗.奋斗,有辛酸的泪水,有误解,有难舍难分之处,但这一切,无法阻挠我们的前进.
    　　奋斗过,才会懂,会坚强,会前进.
    人生的成败往往就在一念之差,失败者并不比成功者逊色,只是他们缺少了斗志.那叫做奋斗.
    　　上帝是公平的,他给予我们每个人奋斗,只是有些人没有彻悟,没有好好利用.奋斗也是一种生命物质,会随着经历挫折而越长越大,越动荡,越勇敢,奋斗在推动我们前进.俗话说,逆境出人才,逆境中奋斗才会爆发,才会不停地在逆境中寻找生的希望.黑暗的深渊中,奋斗是微光；干涸的土地中,奋斗是水滴；严寒的肃冬中,奋斗是热量.
    　　成功从来不是偶然,中国上下五千年没有一个伟人是巧合成功,他们有奋斗的证据,他们的成长足迹中有付出过心血,他们一路走过来的脚印中,没有完完整整的,有膝盖的磕印,有摔倒的血迹,有汗水浸湿的泥沙.他们从哪里摔倒就从哪里爬起来,生命的卑微因奋斗而变得精彩.奋斗会伴随着我们一生,但奋斗中的艰辛并不会持续着,历经艰辛,后面的路会渐渐平坦.
    　　我们奋斗的目标也许不一样,但动力源泉是一样的.有些人奋斗着为了考上好的学校；有些人奋斗着找到好的工作职位；有些人奋斗着为国家做出贡献······有些人一生在奋斗.奋斗,有辛酸的泪水,有误解,有难舍难分之处,但这一切,无法阻挠我们的前进.
    　　奋斗过,才会懂,会坚强,会前进.
</div>
</div>