<!--相册弹出窗口-->
<div class="panel panel-default  windows_wrap" windowsName="photo">
    <div class="panel-heading  windows_ico">
        相册
        <span class="glyphicon glyphicon-remove close_window " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-modal-window mid_window" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-minus small_window" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
    </div>
</div>
<div class="panel panel-default  windows_wrap" windowsName="file">
    <div class="panel-heading  windows_ico">
        文件
        <span class="glyphicon glyphicon-remove close_window " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-modal-window mid_window" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-minus small_window" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 ">
            <div class="mainIco_wrap">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="color: rgb(255,255,200)"></span>
            </div>
            <span>文件夹</span>
        </div>
    </div>
</div>
<div class="panel panel-default  windows_wrap" windowsName="ridio">
    <div class="panel-heading  windows_ico">
        视频
        <span class="glyphicon glyphicon-remove close_window " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-modal-window mid_window" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-minus small_window" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
    </div>
</div>
<div class="panel panel-default  windows_wrap" windowsName="music">
    <div class="panel-heading  windows_ico">
        音乐
        <span class="glyphicon glyphicon-remove close_window " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-modal-window mid_window" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-minus small_window" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
    </div>
</div>
<div class="panel panel-default  windows_wrap" windowsName="config">
    <div class="panel-heading  windows_ico">
        设置
        <span class="glyphicon glyphicon-remove close_window " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-modal-window mid_window" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-minus small_window" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
    </div>
</div>
<div class="panel panel-default  windows_wrap" windowsName="upload">
    <div class="panel-heading  windows_ico">
        上传
        <span class="glyphicon glyphicon-remove close_window " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-modal-window mid_window" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-minus small_window" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
    </div>
</div>
<div class="panel panel-default  windows_wrap" windowsName="login">
    <div class="panel-heading  windows_ico">
        注册
        <span class="glyphicon glyphicon-remove close_window " aria-hidden="true"></span>
        <span class="glyphicon glyphicon-modal-window mid_window" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-minus small_window" aria-hidden="true"></span>
    </div>
    <div class="panel-body">
    </div>
</div>